# Ignore dotenv file
.env

# Ignore venv stuff
bin
lib
pyvenv.cfg

# Ignore packaging stuff
dist
*.egg-info

# Ignore Python temp files
__pycache__

# Ignore editor files
*.swp
*~

# Ignore keys, certs, etc.
*.csr
*.key
*.pem

# Ignore built docs
docs/_build
